/*
    ████████████████████████████████████████████████████████████████████████████████████████████████████
    * Application: Azmi ŞAHİN
    * https://azmisahin.com/
    ════════════════════════════════════════════════════════════════════════════════════════════════════
    * Copyright azmisahin@outlook.com
    * Licence (https://azmisahin.gitlab.io/LICENSE)
    ████████████████████████████████████████████████████████████████████████████████████████████████████
*/

/* Application Design */
body, html {
  height: 100%;
  color: white;
}

.bg{
  background-image: url(../img/bg.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  padding: 10px;
}
/*
Web Real-Time Communications
*/
main {background: none;}
main section{float: left;}
video {
    max-width: 100%;
    width: 320px;
    height: 240px;
    background: aliceblue;
  }

  video{
    filter: drop-shadow(2px 4px 6px black) blur(10px) opacity(0.5);
  }

/* Brand */
.float-right{
  float: right;
}
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }