/**
 * Azmi ŞAHİN Web RTC
 *
 * Web Real-Time Communications.
 * 
 * https://github.com/azmisahin/azmisahin-software-web-rtc
 *
 * @author Azmi SAHIN
 * @since 2020
 * */

 html,
 body {

   background: url(../img/pattern1.png);
 }
 
 body {
   padding-bottom: 100px;
 }
 
 @media (max-width: 991.98px) {
   .offcanvas-collapse {
     position: fixed;
     top: 56px; /* Height of navbar */
     bottom: 0;
     left: 100%;
     width: 100%;
     padding-right: 1rem;
     padding-left: 1rem;
     overflow-y: auto;
     visibility: hidden;
     background-color: #343a40;
     transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
     transition: transform .3s ease-in-out, visibility .3s ease-in-out;
     transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
   }
   .offcanvas-collapse.open {
     visibility: visible;
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%);
   }
 }
 
 .nav-scroller {
   position: relative;
   z-index: 2;
   height: 2.75rem;
   overflow-y: hidden;
 }
 
 .nav-scroller .nav {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   padding-bottom: 1rem;
   margin-top: -1px;
   overflow-x: auto;
   color: rgba(255, 255, 255, .75);
   text-align: center;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
 }
 
 .nav-underline .nav-link {
   padding-top: .75rem;
   padding-bottom: .75rem;
   font-size: .875rem;
   color: #6c757d;
 }
 
 .nav-underline .nav-link:hover {
   color: #007bff;
 }
 
 .nav-underline .active {
   font-weight: 500;
   color: #343a40;
 }
 
 .text-white-50 { color: rgba(255, 255, 255, .5); }
 
 .bg-purple { background-color: #6f42c1; }
 
 .lh-100 { line-height: 1; }
 .lh-125 { line-height: 1.25; }
 .lh-150 { line-height: 1.5; }

 
.bg-me{
  background: #a3fff7;
  border: solid 1px #d2eceb;
}
.bg-remote{
  background:#e4ffa3;
  border: solid 1px #d2eceb
}
main{margin-bottom: 100px;}

video{    
  width: 200px;
  border-radius: 10px;
}
#selfView{
  position: fixed;
  top: 0;
  left: 0
}
#remoteView{
  position: fixed;
  top: 0;
  left: 200px;
}